  <div 
      class="outer-div-for-a-dynamic-input" contenteditable="true">
    <div #InputRef [ngClass]="{tag:is_tag, comment:is_comment}"  class="inner-div-for-a-dynamic-input" contenteditable="true">
       <app-display-letters [letters]="inputModel.letters" [highlightedHtml]="highlightedHtml"/>
    </div>
    <textarea 
      #textAreatRef
      [ngClass]="{tag:is_tag, comment:is_comment}"
      [id]="input_id"
      autocomplete="off" name="comment" type="text" class="input-dynamic comment" 
      [autofocus]="is_autofocus"
      [(ngModel)]="inputModel.val" (ngModelChange)="inputModelChange.emit(inputModel)"
      (focus)="onFocusDoEmit()" (blur)="onBlurDoEmit()" (input)="onInputDoSync()"  (submit)="onSubmitDoPreventDefault($event)"
    >
    </textarea>

  </div>